@page
@using Client
@model CustomersModel
@{
    ViewData["Title"] = "Customers Page";
}

<div class="container">
    <div class="row">
        <h1 class="display-4">Customers API</h1>
    </div>
    <div class="row card" style="padding:20px; margin-bottom:2em;">
        <form method="POST">
            <input type="text" name="name" placeholder="Customer name" />
            <input type="email" name="email" placeholder="Customer email" />
            <input type="submit" class="btn btn-primary" value="Create" asp-page-handler="CreateCustomer" />
        </form>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Customer cust in Model.CustomerList)
                {
                    <tr>
                        <td>@cust.name</td>
                        <td>@cust.email</td>
                        <td>
                            <form method="POST">
                                <input type="hidden" name="customerId" value="@cust.id" />
                                <input type="submit" value="Del" class="btn btn-sm btn-danger"
                                    asp-page-handler="DeleteCustomer" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>